html {font-family: "Indie Flower", cursive;
      font-family: "Roboto", sans-serif;
      font-family: "Roboto Serif", serif;}

/*header*/       

header {padding: 8%;
        background-image: url(../immagini/profilo3.jpg);}

.nav-link {font-family: "Roboto Serif", serif;
           font-size: 120%; 
           color: white;}                     

.container-fluid {background-color: #594036;}

/*footer*/ 

footer {text-align: center; background-color:#594036;
        padding: 20px; margin-top: 100px;}

.seguimi {text-align: center;}
#seguimi {font-family: "Roboto", sans-serif;
          font-size: 20px;
          color: #F8E4CB;}

.iconeseguimi {display: inline-block; 
               font-size:40px;
               margin-bottom: 20px;}

#linkyoutube {color: #F8E4CB;}
#linkinstagram {color: #F8E4CB;}
#linkspotify {color: #F8E4CB;}
#linkfacebook {color: #F8E4CB;}

#instagram {margin-right: 50px;} 
#youtube {margin-right: 50px;} 
#facebook {margin-left: 50px;}

#footer {color: #F8E4CB; 
          font-size: 10px; 
          text-align: center;}

#doc {color: #F8E4CB; 
       text-decoration: none; 
       font-size: 15px; 
       text-align: center;}     
.doc {display: inline-block; margin-bottom: 10px;}

/*pagine*/ 

.testomusica {font-size: 35px; 
             text-align: center;
             font-family: "Indie Flower", cursive;
             margin-top: 50px;
             margin-bottom: 50px}

#nome {font-size: 30px;
      font-family: "Indie Flower", cursive;} 

#singolo {font-size: 30px;
          font-family: "Indie Flower", cursive;}

/*home*/

#fotopresentazione {width: 90%; 
                    height: auto;
                    border-radius: 10px;
                    margin-left: 50px;
                    margin-top: 50px; }


#testopresentazione {text-align: center;
                     font-family: "Roboto", sans-serif;
                     font-size: 20px;
                     margin-top: 170px;}

.video {position: relative;
        padding-top:30px;
        padding-bottom: 56.25%;
        height:0;
        overflow:hidden;}

.video iframe {position:absolute; 
               top:0;
               left: 0;
               width:100%;
               height:100%;
               padding-top: 10%;
               padding-left: 3%;}

#testovideo {text-align: center;
             font-family: "Roboto", sans-serif;
             font-size: 20px;
             padding-top: 150px;}

/*chi sono*/

#luogo {text-align: right;
        margin-right: 200px;
        font-size: 25px;
        font-family: "Roboto", sans-serif;}

#iconaluogo {margin-right: 10px;
             margin-top: 50px;}


#chisono {text-align: center;
          margin-left: 100px;
          margin-top: 50px; 
          margin-bottom: 50px;}

#chisono1 {font-size: 20px;
         font-family: "Roboto", sans-serif;}       

#chisono2 {font-size: 20px;
          font-family: "Roboto", sans-serif;
          margin-top: 50px}         

#fotochisono {width: 330px; 
              height: 500px;
              border-radius: 10px;
              margin-right: 100px;
              margin-left: 80px;}

/*progetto*/

.progetto {text-align: center;
           margin-bottom: 50px;} 

#progetto {font-size: 20px;
          font-family: "Roboto", sans-serif;
          margin-top: 100px;}         

#iconestrumenti {font-size: 200%;
                 margin-left: 48%;
                 margin-bottom: 10px;}  

#testostrumenti {font-family: "Roboto", sans-serif;
                 font-size: 17px;
                 text-align: center;
                 margin-bottom: 20px;}

/*gallery*/

.testomusicagallery {font-size: 35px; 
                    text-align: center;
                    font-family: "Indie Flower", cursive;
                    margin-top: 50px}

.carousel-inner img 
{width: 50%;
height: 40%;
max-width: 100%;
height: auto;
margin-left: 25%;
margin-right: 25%;
margin-top: 10%;
margin-bottom: 3%;
border-radius: 8px;}

.carousel-control-prev
{margin-left: 20%;
 margin-top: 10%;}

.carousel-control-next
 {margin-right: 20%;
  margin-top: 10%;}

/*documentazione*/

.documentazione {text-align: center;
                 margin-top: 70px}
#documentazione {font-family: "Roboto Serif", serif;
                 font-size: 30px;
                 color: black;}



#doctitolo {font-family: "Roboto Serif", serif;
            font-size: 20px}

#doctesto {font-family: "Roboto", sans-serif;
           font-size: 15px;}

#docsottotitolo {font-family: "Roboto Serif", serif;
                 font-size: 15px;}

#docimmagine {width: 50%;
              margin-bottom: 20px;}

#post {width: 30%;
       margin-bottom: 20px;}

.docsezione {text-align: center;
           margin-top: 20px;}  

     



